body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.tile-image{
  height: 200px;
  float: left;
  margin-left: 50px;
}

.card{
  width: 45%;
}

.left{
  float: left;
}

.right{
  float: right;
}

.creative{
  color: midnightblue;
}


.logo{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}


h1{
  color: black;
  text-align: center;
  font-size: 3.5rem;
}

.card {
  width: 100%;
  display: block;
  margin-bottom: 30px;
  text-align: justify;
}

.card img{
  margin-bottom: 10px;
  width: 100%;
  display: inline;
  object-fit: cover;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: rgb(241, 142, 159);
  box-shadow: 0 5px 15px;
}

#navbar{
  display:flex;
  align-items: center;
  justify-content: center;
}

#navbar li{
  list-style: none;
  padding: 20px;
}

li{
  padding-top: 10px;
}
